In [234]:
import pandas as pd

In [235]:
a=pd.read_csv("./ratings_train.txt",sep = "\t",encoding = "utf-8")

In [236]:
a.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [237]:
a.columns

Index(['id', 'document', 'label'], dtype='object')

In [238]:
a=a[["label","document"]]

In [239]:
a.columns=["감정","문장"]

In [240]:
a.head()

   감정                                                 문장
0   0                                아 더빙.. 진짜 짜증나네요 목소리
1   1                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나
2   0                                  너무재밓었다그래서보는것을추천한다
3   0                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정
4   1  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...

In [331]:
a["감정"].value_counts()

0    75173
1    74827
Name: 감정, dtype: int64

In [241]:
b=pd.read_csv("naver_shopping.txt",sep="\t",encoding="utf-8",header=None)

In [242]:
b.head()

   0                                                  1
0  5                                            배공빠르고 굿
1  2                      택배가 엉망이네용 저희집 밑에층에 말도없이 놔두고가고
2  5  아주좋아요 바지 정말 좋아서2개 더 구매했어요 이가격에 대박입니다. 바느질이 조금 ...
3  2  선물용으로 빨리 받아서 전달했어야 하는 상품이었는데 머그컵만 와서 당황했습니다. 전...
4  5                  민트색상 예뻐요. 옆 손잡이는 거는 용도로도 사용되네요 ㅎㅎ

In [243]:
b[0].unique()

array([5, 2, 1, 4], dtype=int64)

In [244]:
b = b.replace([5,4,2,1],[1,1,0,0])

In [245]:
b.columns=["감정","문장"]

In [246]:
b.head()

   감정                                                 문장
0   1                                            배공빠르고 굿
1   0                      택배가 엉망이네용 저희집 밑에층에 말도없이 놔두고가고
2   1  아주좋아요 바지 정말 좋아서2개 더 구매했어요 이가격에 대박입니다. 바느질이 조금 ...
3   0  선물용으로 빨리 받아서 전달했어야 하는 상품이었는데 머그컵만 와서 당황했습니다. 전...
4   1                  민트색상 예뻐요. 옆 손잡이는 거는 용도로도 사용되네요 ㅎㅎ

In [332]:
b["감정"].value_counts()

0    100037
1     99963
Name: 감정, dtype: int64

In [291]:
c=pd.read_csv("Sent_Training.txt",sep="\t",encoding="utf-8")

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_9592\4066613348.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  c=pd.read_csv("Sent_Training.txt",sep="\t",encoding="utf-8")

In [292]:
c.head()

,번호,연령,성별,상황키워드,신체질환,감정_대분류,감정_소분류,사람문장1,시스템응답1,사람문장2,시스템응답2,사람문장3,시스템응답3,사람문장4,시스템응답4
0,44164.0,청년,남성,"연애, 결혼, 출산",해당없음,기쁨,신이 난,아내가 드디어 출산하게 되어서 정말 신이 나.,아내분이 출산을 하시는군요. 정말 축하드려요.,아 지금 정말 신이 나.,잘 된 일이네요.,아기가 점점 클게 벌써 기대가 되네. 내가 많이 놀아줘야지.,좋은 아빠가 되실 거 같아요. 진심으로 축하드려요.,NaN,NaN
1,3926.0,노년,남성,"건강, 죽음",만성질환 유,불안,스트레스 받는,당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.,약 종류가 많아 번거로우시겠어요.,건강할 때 관리 좀 잘할걸 하는 생각이 들더라고.,현재 상황에서 변화를 주기 위해 어떻게 하면 될까요?,약을 잘 챙겨 먹고 나을 수 있도록 노력해야지.,약을 잘 챙겨 먹어 건강해지시길 바랄게요.,NaN,NaN
2,50882.0,청소년,여성,학업 및 진로,해당없음,당황,당황,고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.,고등학교 수업이 중학교 때와는 다르게 갑자기 어려워서 당황스러우시군요.,아직 학기 초인데 내가 수업에 잘 따라갈 수 있을지 걱정돼.,이 상황에서 할 수 있는 게 어떤 것이 있을까요?,중학교 수업을 들을 때보다 훨씬 더 열심히 할 거야.,수업을 어떤 방식으로 열심히 듣는게 좋을까요?,선생님이 강조하신 부분을 필기하고 집에서 매일 수업 내용을 복습하려고 해.,열심히 해서 좋은 결과가 있었으면 좋겠어요.
3,31303.0,노년,남성,재정,만성질환 무,기쁨,신이 난,재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.,재취업 후 첫 월급이라 정말 기쁘시겠어요.,퇴직 후 다시는 돈을 못 벌 줄 알았는데 이렇게 월급으로 가족에게 맛있는 밥을 살 ...,이 기분을 유지하려면 어떻게 해야 할까요?,회사생활을 열심히 해서 계속 월급을 받을거야!,계속 원하시는 대로 회사생활이 이어지길 바랄게요.,NaN,NaN
4,47200.0,노년,여성,재정,만성질환 유,기쁨,안도,빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.,기분 좋으시겠어요. 앞으로는 어떻게 하실 생각이신가요?,빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶어.,빚도 다 갚았으니 당분간은 아무 생각도 안 하며 살고 싶으시군요.,NaN,NaN,NaN,NaN

In [293]:
c2=c["번호"].dropna()

In [294]:
c2

0        44164.0
1         3926.0
2        50882.0
3        31303.0
4        47200.0
          ...
40874    50789.0
40875    48959.0
40876    36344.0
40877    14197.0
40878    16248.0
Name: 번호, Length: 40879, dtype: float64

In [295]:
c=c[:len(c2)]

In [296]:
c["감정_대분류"].unique()

array(['기쁨', '불안', '당황', '슬픔', '분노', '상처', '불안 ', '기쁨 '], dtype=object)

In [297]:
c2=c[["감정_대분류","사람문장1"]].dropna()
c3=c[["감정_대분류","사람문장2"]].dropna()
c4=c[["감정_대분류","사람문장3"]].dropna()
c5=c[["감정_대분류","사람문장4"]].dropna()

In [298]:
c4

      감정_대분류                                 사람문장3
0         기쁨    아기가 점점 클게 벌써 기대가 되네. 내가 많이 놀아줘야지.
1         불안            약을 잘 챙겨 먹고 나을 수 있도록 노력해야지.
2         당황         중학교 수업을 들을 때보다 훨씬 더 열심히 할 거야.
3         기쁨             회사생활을 열심히 해서 계속 월급을 받을거야!
5         불안                  함께 등산이나 여행을 갔으면 좋겠어.
...      ...                                   ...
40873     상처           최 영감에게 기분 좋은 말을 해줘야 할 것 같아.
40874     불안        이대로 내가 키우게 되면 안 되니까 확실하게 해야겠어.
40876     슬픔  내가 다시 내 꿈을 어떻게 이룰 것인지 자세히 설명해 드려야겠어.
40877     기쁨    운동으로 뭉친 근육을 풀어주는 것 같아. 그럼 덜 피로하겠지.
40878     불안              직접 서운한 감정을 친구에게 얘기하려고 해.

[31059 rows x 2 columns]

In [299]:
c2.columns = ["감정", "문장"]
c3.columns = ["감정", "문장"]
c4.columns = ["감정", "문장"]
c5.columns = ["감정", "문장"]

In [357]:
c=pd.concat([c2,c3,c4],ignore_index=True)

In [358]:
c.head()

   감정                                             문장
0  기쁨                      아내가 드디어 출산하게 되어서 정말 신이 나.
1  불안        당뇨랑 합병증 때문에 먹어야 할 약이 열 가지가 넘어가니까 스트레스야.
2  당황        고등학교에 올라오니 중학교 때보다 수업이 갑자기 어려워져서 당황스러워.
3  기쁨  재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.
4  기쁨                   빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.

In [359]:
idx_num = c[c["감정"]=="당황"].index
idx_num2 = c[c["감정"]=='상처'].index
idx_num3 = c[c["감정"]=="불안"].index
idx_num4 = c[c["감정"]=="분노"].index
c=c.drop(idx_num)
c=c.drop(idx_num2)
c=c.drop(idx_num3)
c=c.drop(idx_num4)

In [360]:
c

        감정                                             문장
0       기쁨                      아내가 드디어 출산하게 되어서 정말 신이 나.
3       기쁨  재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.
4       기쁨                   빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.
6       슬픔                  사십 대에 접어들면서 머리카락이 많이 빠져 고민이야.
9       슬픔                                   친구 때문에 눈물 나.
...     ..                                            ...
112804  슬픔                             그 친구의 장례식장에 가고 싶어.
112807  기쁨                       응. 매번 거르던 아침밥을 챙겨 먹을 거야!
112808  슬픔                    내가 열등감을 느껴서 그랬다고 진심으로 사과할래.
112814  슬픔           내가 다시 내 꿈을 어떻게 이룰 것인지 자세히 설명해 드려야겠어.
112815  기쁨             운동으로 뭉친 근육을 풀어주는 것 같아. 그럼 덜 피로하겠지.

[37639 rows x 2 columns]

In [361]:
c = c.replace(['기쁨', '불안', '슬픔', '분노', '상처', '불안 ', '기쁨 '],[1,0,0,0,0,0,1])

In [362]:
c

        감정                                             문장
0        1                      아내가 드디어 출산하게 되어서 정말 신이 나.
3        1  재취업이 돼서 받게 된 첫 월급으로 온 가족이 외식을 할 예정이야. 너무 행복해.
4        1                   빚을 드디어 다 갚게 되어서 이제야 안도감이 들어.
6        0                  사십 대에 접어들면서 머리카락이 많이 빠져 고민이야.
9        0                                   친구 때문에 눈물 나.
...     ..                                            ...
112804   0                             그 친구의 장례식장에 가고 싶어.
112807   1                       응. 매번 거르던 아침밥을 챙겨 먹을 거야!
112808   0                    내가 열등감을 느껴서 그랬다고 진심으로 사과할래.
112814   0           내가 다시 내 꿈을 어떻게 이룰 것인지 자세히 설명해 드려야겠어.
112815   1             운동으로 뭉친 근육을 풀어주는 것 같아. 그럼 덜 피로하겠지.

[37639 rows x 2 columns]

In [363]:
c["감정"].value_counts()

0    19122
1    18517
Name: 감정, dtype: int64

In [390]:
data=pd.concat([a,b,c],ignore_index=True)

In [391]:
data.tail()

        감정                                    문장
387634   0                    그 친구의 장례식장에 가고 싶어.
387635   1              응. 매번 거르던 아침밥을 챙겨 먹을 거야!
387636   0           내가 열등감을 느껴서 그랬다고 진심으로 사과할래.
387637   0  내가 다시 내 꿈을 어떻게 이룰 것인지 자세히 설명해 드려야겠어.
387638   1    운동으로 뭉친 근육을 풀어주는 것 같아. 그럼 덜 피로하겠지.

In [392]:
data["감정"].value_counts()

0    194332
1    193307
Name: 감정, dtype: int64

In [405]:
# 참조 : https://sig413.tistory.com/5

import numpy as np
data["문장"]=data["문장"].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","", regex=True)
data["문장"]=data["문장"].str.replace("^ +","",regex=True)
data["문장"].replace("",np.nan,inplace=True)
data=data.dropna(axis=0)

In [406]:
data.head()

   감정                                                 문장
0   0                                  아 더빙 진짜 짜증나네요 목소리
1   1                         흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나
2   0                                  너무재밓었다그래서보는것을추천한다
3   0                          교도소 이야기구먼 솔직히 재미는 없다평점 조정
4   1  사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...

In [407]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.1)

In [408]:
len(train)

347741

In [409]:
len(test)

38638

In [410]:
train["감정"].value_counts()

0    174338
1    173403
Name: 감정, dtype: int64

In [411]:
stopwords = ['도', '는', '다', '의', '가', '이', '은', '한', '에', '하', '고', '을', '를', '인', '듯', '과', '와', '네', '들', '듯', '지', '임', '게']

In [412]:
from konlpy.tag import Okt
okt = Okt()

In [413]:
train["문장"].head()

276870    생각보다 작고 스텐이 두껍습니다 저는 그런걸 찾고 있었던지라 만족합니다 좋은 제품 ...
22095     일일드라마특성상 극단적인 상황이많이 나오지만가증스런 상도와 가영상처있는 현태와 인애...
24856                      보는 시간이 아까운 영화임 왜 점은 평점등록이 안 되는건가
14381                                       인간은 인간에 의해 타락한다
201921    슬리머 디엑스 시켰는데 박스에 넣어서 올줄알았더니 낱개로 포장되어 옴 신뢰감안가게 ...
Name: 문장, dtype: object

In [414]:
train["감정"].value_counts()

0    174338
1    173403
Name: 감정, dtype: int64

In [418]:
t_train = [] 
t_test = []
count=0
for sentence in train['문장']:
    if count % 5000 == 0:
        print(count,"번째 : ",sentence)
    temp_X = okt.morphs(sentence, stem = True) 
    temp_X = [word for word in temp_X if not word in stopwords] # 불용어 제거
    t_train.append(temp_X)
    count+=1
for sentence in test['문장']:
    if count % 5000 == 0:
        print(count,"번째 : ",sentence)
    temp_X = okt.morphs(sentence, stem = True) # 토큰화
    temp_X = [word for word in temp_X if not word in stopwords] # 불용어 제거
    t_test.append(temp_X)
    count+=1

0 번째 :  생각보다 작고 스텐이 두껍습니다 저는 그런걸 찾고 있었던지라 만족합니다 좋은 제품 감사합니다
5000 번째 :  조악한 스토리와 찌질한 개그를 견뎌내면 양자경 나부락의 빛나는 액션신을 볼수있다
10000 번째 :  제거되는게 아무것도 없음 왜 이런 과대 광고를 하는건지
15000 번째 :  흡착 안좋음 개선 요망
20000 번째 :  재구매 배송이빨라서좋아요 쓰다보니좋아서지인선물하려고 또구매했네요 많이파세요
25000 번째 :  내가 본 영화중 최악이다 영상도 어두워서 한개도 안보이지  카악퉷
30000 번째 :  너무 좋아아영 굳굳
35000 번째 :  배송비 무료 아니라 좀 그렇네요 원을 써도 배송비가 붙는다니
40000 번째 :  아동들을 위한 교육용 애니라고 말을 하지 그러셨어요
45000 번째 :  역시 갓도요 갓 피싱쿨 ㅎㅎ잘사용하고있습니다
50000 번째 :  직장에서 큰 실수를 저질렀어
55000 번째 :  한달사용기가 있는줄은 몰랐네요 플라스틱타는 냄새는꾸준하고 주만에 열풍이안나옵니다
60000 번째 :  응 젊을 때 돈을 아껴쓰길 정말 잘 한 것 같아
65000 번째 :  점도 아까움내용을 모르겠다
70000 번째 :  언제나 입던 거라 항상 만족
75000 번째 :  ㅋㅋㅋ뭐 이런걸 ㅋㅋㅋㅋ
80000 번째 :  재구매 두번째 구매 후기껀에대한 답변은 주시지도 않으시고 좀 실망스러워서 그뒤론 구매하지 않는 꽃게
85000 번째 :  재질자체가 물렁해서 포크로음식을 거의 찍어서사용하기가힘드네요
90000 번째 :  안좋아오 제품이비해가격이쌔보이네요 걸자마자떨이지네요ㅜㅜㅜ돈아까브 그래도붙여보자하다가드라이기망가질거같아요 ㅜㅜㅜ
95000 번째 :  딸아이 교복에 입으려고 구매했어요 밍크라 엄청 따듯하겠어요 만족합니다
100000 번째 :  보는것처럼 손톱만큼 감겨있어서 생각보다 테이프량이 얇아요 ㅠㅠ 접착역도 다이소꺼보다 훨씬 약해서 여러번 밀어야 해요 케이스도 뻑뻑해서 뺐다 끼기 힘듬 ㅠㅠ 그저 그래요 ㅠㅠ
105000 번째 :  ㅋㅋㅋㅋㅋ 이런 작품을 기다려 왔다
110000 번째 :  성룡의 맨 몸 액션만큼 비례했으면 하는 영화의 메세지
115000 번째 :  택배가 너무 느리고 배송조회가 너무 무성의해요
120000 번째 :  저렴하고 활용도가 좋아요 이쁜거 구입하려다가 걍 삿는데 후회진심 없어요 대만족
125000 번째 :  빠간마스크 만세
130000 번째 :  미확인 동영상 수준
135000 번째 :  치약 대량구매 딱좋아요
140000 번째 :  은근 꿀잼 의도한 급 재미와 병맛 코드가 너무 기분좋고 신나게 다가온다
145000 번째 :  응 너무 힘들고 도와주는 사람도 없으니 이젠 뭐라고 말할 용기도 나지 않아
150000 번째 :  처음엔 그런대로 재밌었는데요즘은 일주일 내용이 다 똑같아요계속 꼬이기만하고 질질끄는거 같아조금씩 짜증이ㅈ나네요빠른 전개 부탁드려요
155000 번째 :  거창한 여행이 아니더라도 퇴원하고 소소하게 갈 수 있는 곳으로 여행을 가면 좋을 것 같아
160000 번째 :  별로네요 배송도 까먹고 ㅡㅡ
165000 번째 :  내구성 정말 약합니다
170000 번째 :  굿굿굿 정말 좋아용ㅋㅋㅋㅋ
175000 번째 :  그닥 생각보다 아이가 안 좋아함 비싼 값이 아닌데도 가격대비 너무 부실함 다리가 제대로 서있지 못해 휘청휘청하고 거울은 사물이 왜곡되서 보이니 애가 아에 안 봄 그나마 드라이기만 좀 갖고 놈
180000 번째 :  좀 비싼감이 ㅎ 어쩔수없죠사용잘했어요
185000 번째 :  엉성합니다 바느질 다 터져서 와서 바느질함
190000 번째 :  주문한 스카이블루 아니고 아이보리로왔어요 일딴 설치하고 사용합니다
195000 번째 :  제품명 에어건으로 바꿔주세요
200000 번째 :  보다가 그냥 쭉쭉 넘겨보긴 첨이네요  정말 말이 안나와요
205000 번째 :  옛날생각나서시켰는데맛이그냥그래요
210000 번째 :  아들로 나온 정윤석 군의 발연기에 손발이 다 오글거리고몰입이 되다가도 발연기 보고 몰입이 안되는 더러운 상황이 발생한다오정세가 좋아서 끝까지 보려고 했는데
215000 번째 :  볼만하던데
220000 번째 :  정말별로던데
225000 번째 :  박스 밑에 벌레가 눌려 죽어있네요 바퀴벌레 같기도 하고 아주 찝찝합니다 아기 먹일려고 두번째 주문했는데 이건 아닌듯요 입으로 들어가는 음식은 위생이 기본인데 많이 아쉽네요 재구매 의사 없습니다
230000 번째 :  제발  이거 성공해야 케이온 나온다
235000 번째 :  쇼핑백 부탁 또 부탁 드렸는데 제품만 달랑 왔네요
240000 번째 :  만족합니다 배송도요
245000 번째 :  부모님이나 주변 지인이나 만나면 항상 하는 소리가 결혼 안 하냐 애는 어떻게 할 거냐는 말만 하네
250000 번째 :  대체 이거 내용이 없다 감독이고시나리오고 생각을 한 사람들이 없는거 같다
255000 번째 :  퇴직 후에 마음껏 시간을 쓸 수 있어 뭘 하면 좋을까
260000 번째 :  냉동이라 해동을 잘못해서 그런지 굽기를 잘못해서 그런지 퍽퍽하고 질겼어요 저렴한 가격대로 구매한건 좋았네요
265000 번째 :  굿한마디밖에안나오네
270000 번째 :  버튼이 살짝 좋지 않은듯요
275000 번째 :  친구에게 실망했어
280000 번째 :  가겨대비 제일 싸고 좋아요
285000 번째 :  재구매 배송도빠르고 또 이용할게요
290000 번째 :  우산이 파손되었네요
295000 번째 :  그렇게나 찾던면을 드디어 찾았어요 양념장도 매콤칼칼 너무맛있어요
300000 번째 :  밍밍 무지방이라그런가 밍밍해요 진짜 밍밍해서 못 먹겠어요 샀으니 먹어야죠 어쩌겠어요
305000 번째 :  오늘은 회사 외부에 업무를 잠깐 보러 갔다가 일 처리가 늘어져서 바로 집으로 퇴근했어
310000 번째 :  주윤발 원래 멜로코믹전문배우인데 영웅본색으로 확떠서 그렇지 ㅋㅋㅋ 만능
315000 번째 :  스판도 좋고 몸에 딱붙는게 좋습니다 제가 키가 작아서 기장이 길까봐 부를 시켰는데 부시켰어도 맞았을거같네요 용지로 길이비교 해놨으니 길이 고민이신분들 참고하세요
320000 번째 :  마지막에 기억찾고 재회 장면까지 있었으면 더 좋았을거 같은데 아쉽네요ㅠ 여튼 멜로 장르를 좋아하는지라 소재도 마음에 들었고 재미있게 감상했네요
325000 번째 :  우리나라 공포영화 왜이러냐
330000 번째 :  다운받아서 보니까 그냥 별로던데
335000 번째 :  너무너무 편하고 접착력도 우수해서 여행가서 정말 잘 사용했습니다 여름필수템이 되었어요
340000 번째 :  가이피어스 역시 명배우 여주도 나름 귀엽다
345000 번째 :  사이즈 떡맞고 좋아요
350000 번째 :  재구매 맛있은 김 잘 구매해서 만족합니다
355000 번째 :  가격만큼하고 아랫쪽선반은 삐뚫어져있어요 교환이번거러워서 그냥사용합니다
360000 번째 :  정말 대단한 영화다
365000 번째 :  원하는 크기로 주문 할 수 있어서 좋아요
370000 번째 :  욕심부려 샀는데 많이 길구요 보관용으로 좋습니다 제품은 이뻐요
375000 번째 :  튼튼해보이긴한데 겉이 맨질한감이 없어 좀걸린다 해야하나좀길이 들어야할까요
380000 번째 :  휴잭맨과 아이유의 유쾌한 일본유랑기
385000 번째 :  저도 힘을 한번 보태어 봅니다

In [419]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer()
tokenizer.fit_on_texts(t_train)
tokenizer.fit_on_texts(t_test)

In [420]:
import pickle
 
## Save pickle
with open("senti_tokenizer.pickle","wb") as fw:
    pickle.dump(tokenizer, fw)

In [421]:
X_train = tokenizer.texts_to_sequences(t_train)
X_test = tokenizer.texts_to_sequences(t_test)
Y_train = train["감정"]
Y_test = test["감정"]

In [425]:
print('문장의 최대 길이 :',max(len(l) for l in X_train))
print('문장의 평균 길이 :',sum(map(len, X_train))/len(X_train))

문장의 최대 길이 : 69
문장의 평균 길이 : 11.61253346599912

In [426]:
def below_threshold_len(max_len, nested_list):
    cnt = 0
    for s in nested_list:
        if(len(s) <= max_len):
            cnt = cnt + 1
    print('전체 샘플 중 길이가 %s 이하인 샘플의 비율: %s'%(max_len, (cnt / len(nested_list))*100))
 
 
max_len = 42
below_threshold_len(max_len, X_train)

전체 샘플 중 길이가 42 이하인 샘플의 비율: 99.2977532128797

In [427]:
X_train2 = pad_sequences(X_train,maxlen=max_len)
X_test2 = pad_sequences(X_test,maxlen=max_len)

In [428]:
from keras import models
from tensorflow.keras.layers import Embedding, Dense, LSTM, GRU, Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import load_model
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

In [437]:
vocab_size=len(tokenizer.word_counts)

In [438]:
model = Sequential()
model.add(Embedding(vocab_size, 100))
model.add(LSTM(128, return_sequences = True))
model.add(Dropout(0.5))
model.add(GRU(128))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, None, 100)         6966600

 lstm (LSTM)                 (None, None, 128)         117248

 dropout (Dropout)           (None, None, 128)         0

 gru (GRU)                   (None, 128)               99072

 dropout_1 (Dropout)         (None, 128)               0

 dense (Dense)               (None, 1)                 129

=================================================================
Total params: 7,183,049
Trainable params: 7,183,049
Non-trainable params: 0
_________________________________________________________________

In [ ]:
es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=4)
mc = ModelCheckpoint('bilstm.h5', monitor='val_acc', mode='max', verbose=1, save_best_only=True)

model.compile(optimizer='adam', loss='mse', metrics=['acc'])
history = model.fit(X_train2, Y_train, epochs=15, callbacks=[es, mc], batch_size=6000, validation_split=0.2)

Epoch 1/15
47/47 [==============================] - ETA: 0s - loss: 0.1813 - acc: 0.7147
Epoch 1: val_acc improved from -inf to 0.83485, saving model to bilstm.h5
47/47 [==============================] - 322s 7s/step - loss: 0.1813 - acc: 0.7147 - val_loss: 0.1207 - val_acc: 0.8349
Epoch 2/15
47/47 [==============================] - ETA: 0s - loss: 0.1038 - acc: 0.8610
Epoch 2: val_acc improved from 0.83485 to 0.85671, saving model to bilstm.h5
47/47 [==============================] - 309s 7s/step - loss: 0.1038 - acc: 0.8610 - val_loss: 0.1053 - val_acc: 0.8567
Epoch 3/15
47/47 [==============================] - ETA: 0s - loss: 0.0908 - acc: 0.8812
Epoch 3: val_acc improved from 0.85671 to 0.85901, saving model to bilstm.h5
47/47 [==============================] - 310s 7s/step - loss: 0.0908 - acc: 0.8812 - val_loss: 0.1043 - val_acc: 0.8590
Epoch 4/15
47/47 [==============================] - ETA: 0s - loss: 0.0843 - acc: 0.8918
Epoch 4: val_acc did not improve from 0.85901
47/47 [==============================] - 292s 6s/step - loss: 0.0843 - acc: 0.8918 - val_loss: 0.1084 - val_acc: 0.8538
Epoch 5/15
47/47 [==============================] - ETA: 0s - loss: 0.0794 - acc: 0.8989
Epoch 5: val_acc did not improve from 0.85901
47/47 [==============================] - 307s 7s/step - loss: 0.0794 - acc: 0.8989 - val_loss: 0.1078 - val_acc: 0.8560
Epoch 6/15
36/47 [=====================>........] - ETA: 1:07 - loss: 0.0749 - acc: 0.9065

In [ ]:
loaded_model = load_model('bilstm.h5')
print("\n 테스트 정확도: %.4f" % (loaded_model.evaluate(X_test2, Y_test)[1]))

In [ ]:
data.to_csv('senti_data.txt', sep = '\t',index = False)