In [125]:
import pandas as pd
from konlpy.tag import Okt
from collections import Counter

In [126]:
def filesave(dataframe,name):
    dataframe.to_csv(name,sep="\t", encoding="utf-8",index=False)
def fileread(name):
    return pd.read_csv(name,sep="\t",encoding="utf-8")

In [127]:
test=fileread('test/chosun_dataframe.csv')

In [128]:
test

,title,content,date,section,url
0,"신한금융, 3분기 순익 1.6조… 역대 최대 실적",조용병 신한금융지주 회장이 고객 중심 경영을 강조하고 있다.신한금융이 올해 3분기(...,2022.10.25 13:52,경제,https://www.chosun.com/economy/economy_general...
1,자금시장 경색에… 한은 ‘베이비스텝’ 전망 나와,‘레고랜드 사태’가 뇌관이 된 자금 시장 경색이 쉽게 풀릴 기미를 보이지 않으면서 ...,2022.10.25 04:16,경제,https://www.chosun.com/economy/economy_general...
2,일본은행 두번째 복면개입? 엔·달러 환율 149엔대에서 갑자기 4엔 하락,지난 20일 스즈키 슌이치 일본 재무상이 취재진과 만나는 모습. /로이터 연합뉴스달...,2022.10.25 03:00,경제,https://www.chosun.com/economy/economy_general...
3,매달 10만원씩 6년 부었는데 이자 12만원? 낮아도 너무 낮은 금리에 ‘저축보험’...,은행 수신금리가 나날이 오르자 오래 전 저축보험을 가입했다가 중도해지에 나서는 사람...,2022.10.25 03:00,경제,https://www.chosun.com/economy/economy_general...
4,"작년 종부세 수정 요구 1481건, 1년새 80% 폭증… 절반이 받아들여졌다",지난해 납세자들이 종합부동산세(종부세)를 과도하게 냈다며 수정을 요구한 경정 청구가...,2022.10.25 03:00,경제,https://www.chosun.com/economy/economy_general...
...,...,...,...,...,...
1985,"정성호 “이재명, 부패지옥·청렴천국 달고 살아… 김용 개인비리일수도”",이재명 더불어민주당 대표는 24일 검찰이 서울 여의도 민주당사 내 민주연구원을 압수...,2022.10.25 07:17,정치,https://www.chosun.com/politics/politics_gener...
1986,"한동훈에 “화내는 모습 부적절” 지적한 김남국, 잠시 후 “이 사람아” 고성",24일 법제사법위원회 국정감사에서 화제가 된 장면은 한동훈 법무부 장관과 김의겸 더...,2022.10.25 10:25,정치,https://www.chosun.com/politics/politics_gener...
1987,“이게 6만원…먹다 남은 거 아닙니다” 속초 횟집 가격 논란,강원도 속초의 한 횟집에서 6만원 어치 참돔과 2만원 어치 개불을 포장해왔다며 네티...,2022.10.25 11:48,사회,https://www.chosun.com/national/national_gener...
1988,시정 연설·사전차담회 모두 거부한 野… 5년 전 文때는 달랐다,윤석열 대통령이 25일 서울 여의도 국회에서 2023년도 예산안 및 기금운용계획안 ...,2022.10.25 10:06,politics/assembly,https://www.chosun.com/politics/assembly/2022/...
1989,“尹·韓 새벽 3시까지 술자리” 더탐사 방송… 술집 위치도 특정 못했다,윤석열 대통령과 한동훈 법무장관의 '심야 술자리 의혹'을 제기한 인터넷매체 '더탐사...,2022.10.25 07:45,정치,https://www.chosun.com/politics/politics_gener...

In [178]:
test.drop_duplicates(inplace=True, ignore_index=True)

In [182]:
len(test)

1788

In [180]:
test['content'].nunique()

1749

In [218]:
def save_sentence_dataframe(data):
    idx=0
    sentences = []
    section_temp = []
    for i in range(len(data)):
        content = data['content'].iloc[idx]
        if "▲" in str(content):
            temp = str(content).split("▲")
            content=temp[0]
        splited = str(content).replace(". ","\n").split("\n")
        sentences += splited
        section_temp += [data['section'].iloc[idx]]*len(splited)
        idx+=1
    df = pd.DataFrame([sentences,section_temp]).T
    df.columns = ["sentence","section"]
    filesave(df, "donga_sentence_section.csv")

In [219]:
save_sentence_dataframe(test)

In [220]:
ttt=fileread("donga_sentence_section.csv")

In [210]:
def topic_counter_by_section(section,data):
    okt=Okt()
    parsed_data=[]
    sectiondata = data[data["section"]==section]
    for i in sectiondata['content']:
        if "▲" in str(i):
            temp = str(i).split("▲")
            i=temp[0]
        splited_list = str(i).replace(". ","\n").split("\n")
        if not splited_list:
            continue
        for sentence in splited_list:
            if len(sentence)<6:
                continue
            parsed_data += okt.pos(sentence, norm=True, stem=True)
    word_list = []
    
    stopword = ["없다","있다","재밌다","좋다","최고","같다","이","것","진짜","아니다","이렇다","그냥","하나","다시","많다","이다","최악",'완전',"안되다",'어떻다',"정말","보고",'정도','역시']
    for word,tag in parsed_data:
        if tag in ["Noun"] and len(word)>1 and word not in stopword:
            word_list.append(word)
    counts = Counter(word_list)
    return counts

In [232]:
def topic_counter_by_section_from_sentence_csv(section,data):
    okt=Okt()
    parsed_data=[]
    sectiondata = data[data["section"]==section]
    for sentence in sectiondata['sentence']:
        if len(str(sentence))<6:
            continue
        nouns = okt.nouns(str(sentence))
        ["없다","있다","재밌다","좋다","최고","같다","이","것","진짜","아니다","이렇다","그냥","하나","다시","많다","이다","최악",'완전',"안되다",'어떻다',"정말","보고",'정도','역시']
        for word in nouns:
            if len(word)>1 and word not in stopword:
                parsed_data.append(word)
    counts = Counter(parsed_data)
    return counts

In [212]:
def most_40topiclist_by_section(section,data):
    okt=Okt()
    parsed_data=[]
    sectiondata = data[data["section"]==section]
    for i in sectiondata["title"]:
        parsed_data+=okt.pos(i,norm=True,stem=True)

    word_list = []
    stopword = ["없다","있다","재밌다","좋다","최고","같다","이","것","진짜","아니다","이렇다","그냥","하나","다시","많다","이다","최악",'완전',"안되다",'어떻다',"정말","보고",'정도','역시']
    for word,tag in parsed_data:
        if tag in ["Noun"] and len(word)>1 and word not in stopword:
            word_list.append(word)


    counts = Counter(word_list)
    tags = counts.most_common(40)
    return tags

In [214]:
sections = test["section"].value_counts()

In [215]:
sections = list(sections[sections>21].keys())

In [216]:
sections

['사회', '연예', '국제', '정치', '경제', '문화', '스포츠']

In [135]:
word_count_df = pd.DataFrame(columns=['word','count','section'])

In [136]:
word_count_df

Empty DataFrame
Columns: [word, count, section]
Index: []

In [137]:
# counter=topic_counter_by_section("경제",test)

KeyboardInterrupt:

In [ ]:
# temp = pd.DataFrame([dict(counter)]).T
# temp['word'] = temp.index
# temp['section'] = "경제"
# temp.columns=['count','word','section']
# word_count_df = pd.concat([word_count_df,temp],ignore_index=True)

In [ ]:
# word_count_df

In [223]:
def make_word_count_df():
    df = pd.DataFrame(columns=['word','count','section'])
    for section in sections:
        print(section)
        counter=topic_counter_by_section(section,test)
        temp = pd.DataFrame([dict(counter)]).T
        temp['word'] = temp.index
        temp['section'] = section
        temp.columns=['count','word','section']
        df = pd.concat([df,temp],ignore_index=True)
    return df

In [224]:
def make_word_count_df2(data,section_list):
    df = pd.DataFrame(columns=['word','count','section'])
    for section in section_list:
        print(section)
        counter=topic_counter_by_section_from_sentence_csv(section,data)
        temp = pd.DataFrame([dict(counter)]).T
        temp['word'] = temp.index
        temp['section'] = section
        temp.columns=['count','word','section']
        df = pd.concat([df,temp],ignore_index=True)
    return df

In [141]:
# most_40topiclist_by_section("경제",test)

In [142]:
w = make_word_count_df()

사회
정치
연예
국제
경제
스포츠
문화

In [143]:
w

        word count section
0         송영    42      사회
1         한국   198      사회
2         유총    85      사회
3         연맹   240      사회
4         총재    68      사회
...      ...   ...     ...
48548     청룡     1      문화
48549     도둑     1      문화
48550     암살     1      문화
48551     어콜     1      문화
48552  루카스필름     1      문화

[48553 rows x 3 columns]

In [144]:
filesave(w,"chosun_content_word_count.csv")

In [145]:
w['word'].nunique()

22723

In [152]:
w[w["section"]=="연예"].sort_values(by="count",ascending=False).head(15)

        word count section
14227     기자   381      연예
14236     공개   241      연예
14296     방송   241      연예
14241     모습   240      연예
14225  스포츠조선   203      연예
14400     사람   180      연예
15088     남편   176      연예
14233     사진   167      연예
14255     결혼   162      연예
14346     라며   160      연예
14228     배우   159      연예
14505    김연아   152      연예
14343     생각   152      연예
14506    결혼식   144      연예
14262     자신   142      연예

In [165]:
cnt = 0
datafilter = test[test['section']=="연예"]["content"].str.contains("방송")

285     True
286     True
287     True
288     True
289     True
        ...
1771    True
1772    True
1773    True
1774    True
1775    True
Name: content, Length: 266, dtype: bool

In [242]:
t=test[(test['section']=="국제")&(test['content'].str.contains("러시아"))]

In [243]:
cnt=0
for i in t['content']:
    print(i)
    
    cnt+=1
    if cnt>6:
        break

드미트리 페스코프 러시아 크렘린궁 대변인. /타스 연합뉴스러시아 크렘린궁, 국방부, 외교부가 일제히 나서 이틀 째 우크라이나가 ‘더티밤(dirty bomb)’을 쓸 수 있다는 여론전을 이어가고 있다. 미국 등 서방 국가들은 “근거가 없는 허위 주장”이라고 일축했다.로이터통신에 따르면 24일(현지 시각) 드미트리 페스코프 크렘린궁 대변인은 기자들과 전화 회의에서 “러시아가 전달한 정보를 서방이 믿지 않는다고 해서 더티밤의 위협이 없어지는 것은 아니다”라고 했다. 더티밤은 재래식 폭탄에 방사성 물질을 채운 방사능 무기로, 핵폭발과 같은 파괴력은 없지만 광범위한 지역을 방사능으로 오염시킬 수 있어 핵테러 폭발물로 분류된다.전날 세르게이 쇼이구 러시아 국방장관이 미국, 영국, 프랑스, 튀르키예(터키) 등 국방장관과의 통화에서 우크라이나가 더티밤을 전장에서 사용할 수 있다고 주장한 것을 반복한 것이다.이고르 키릴로프 러시아 국방부 화생방전 방어사령관/EPA 연합뉴스국방부는 전날 주장을 더욱 구체화했다. 러시아 국방부 화생방전 방어사령관 이고르 키릴로프는 이날 “우크라이나는 더티밤을 제조할 과학적, 기술적 역량이 있고 이를 사용할 동기도 갖고 있다”고 주장했다. 이어 “우크라이나 대통령실이 관련 기술을 전수 받고자 영국과 접촉했고, 더티밤에 쓸 방사성 물질을 체르노빌 원자력 발전소 등에 보관하고 있다”며 더티밤 개발이 마지막 단계라고 했다.또 더티밤 사용시 유럽 전역이 영향을 받을 것이라면서 “우크라이나는 러시아가 자국에서 대량 살상무기를 사용했다고 비난해 세계적으로 반(反) 러시아 캠페인을 일으키려는 것”이라고 했다. 그러면서 “국방부는 예상되는 도발에 대응할 준비가 됐다. 군대가 방사능 오염 상황에서도 임무를 수행할 준비가 됐다”며 이를 임박한 위협으로 묘사했다.세르게이 라브로프 러시아 외무장관도 이날 기자들과 만나 “더티밤을 만드는 우크라이나 내 과학 시설에 대한 정보를 갖고 있다”며 “적절한 경로로 거듭 확인한 내용이다. 근거 없는 추측이 아니다”라고 강조했다. 또 유엔에서 이에 대해 문제를 제기하겠다며 “필요한 단계를 밟고 있다”고 했다.러시아의 연이은 더티밤 주장에 대해 서방 국가들은 반발했다. 서방 국가들은 이를 우크라이나 전쟁에서 핵무기 사용 명분으로 삼기 위한 일종의 ‘거짓 깃발 작전’으로 의심하고 있다. 앞서 23일 미국·영국·프랑스 3개국 외교 장관은 공동 성명을 내고 “명백한 허위 주장”이라며 “이를 확전 명분으로 사용하려는 (러시아의) 어떤 시도도 간파할 것”이라고 했다.23일(현지 시각) 러시아 공격으로 폐허가 된 우크라이나 미콜라이우 지역의 한 아파트 단지./AFP 연합뉴스
네드 프라이스 미 국무부 대변인은 24일 브리핑에서 이 성명을 다시 언급하고 “뻔히 들여다 보이는 그런 시도에 속지 않겠다는 매우 명확한 메시지를 보내려고 한 것”이라며 “러시아가 더티밤을 쓰든 핵폭탄을 쓰든 후과가 뒤따를 것”이라고 경고했다. 다만 미국 측은 아직 러시아가 핵무기 사용을 준비하는 정황은 포착하지 못했다고 밝혔다.옌스 스톨텐베르그 북대서양조약기구(NATO·나토) 사무총장도 이날 자신의 트위터에 “미국, 영국 국방 장관과 우크라이나가 더티밤을 사용하려고 준비 중이라는 러시아의 거짓 주장에 대한 의견을 나눴다”며 “나토 동맹은 이 같은 주장을 거부한다”고 했다. 그러면서 “러시아는 이를 긴장 고조를 위한 구실로 삼아서는 안 된다”고 경고했다.
러시아 전투기 한 대가 자국 영토 주택가에 추락해 조종사 2명이 숨졌다. 지난주 전폭기가 아파트에 추락해 15명이 숨진 데 이어 일주일 새 두 번째 추락 사고다. AP통신은 “러시아의 우크라이나 침공 이후 11번째 발생한 비전투 사고”라고 보도했다. 군 기강이 느슨해진 것 아니냐는 분석도 나오고 있다.23일(현지 시각) AP통신 등에 따르면, 수호이(SU)-30 전투기 한 대가 시베리아 동부 이르쿠츠크시의 2층짜리 주택으로 추락했다. 이고르 코브제프 이르쿠츠크 주지사는 “이 사고로 전투기 조종사 2명이 숨졌지만, 지상에서 인명 피해는 없었다”고 밝혔다. 소셜미디어에 올라온 사고 당시 영상에는 사고기가 지면에 거의 수직으로 내리꽂히는 장면이 담겼다. 추락한 수호이-30은 2인승 쌍발 전투기다.사고가 발생한 이르쿠츠크시는 러시아 시베리아 남부 이르쿠츠크주(州) 최대 도시로, SU-30 전투기를 생산하는 러시아 국영 항공기 제조사 공장이 있다. 회사 관계자는 “사고기가 공군에 인도되기 전 훈련 비행을 하던 중 추락했고, 무기는 실려 있지 않았다”며 “항공 전문가들이 사고 조사에 참여할 것”이라고 밝혔다. 현지 언론은 당국이 사고가 발생한 지역에 비상사태를 선포했다고 전했다.앞서 지난 17일에는 러시아 SU-34 전폭기 한 대가 비행 훈련을 위해 이륙한 직후 한쪽 엔진에 불이 나면서 우크라이나와 인접한 러시아 남부 도시 예이스크의 한 아파트에 추락했다. 조종사 2명은 추락 직전 탈출했지만, 기체가 폭발하며 아파트에 큰 화재가 발생해 15명이 숨졌다. 워싱턴포스트(WP)는 “잇따른 추락 사고는 우크라이나 전쟁에서 고전하는 러시아군과 러시아 국민에게 위기감을 줄 것”이라고 분석했다.
러시아 정부의 예비군 동원령을 피하기 위해 탈출한 러시아인들이 지중해 섬나라 키프로스로 몰려들고 있다고 23일(현지 시각) 워싱턴포스트(WP)가 보도했다.예비군동원령이 내려지자 징집대상 러시아 남성들이 대거 국외로 탈출했다. 사진은 지난 9월 28일 조지아로 넘어가는 러시아 남성들 모습./로이터 뉴스1
WP에 따르면, 우크라이나 전쟁 이후 러시아의 고학력 중산층·상류층 상당수가 조지아·카자흐스탄 등을 거쳐 키프로스로 이주하고 있다. 키프로스 내의 러시아인 커뮤니티인 ‘키프로스 IT’는 “우크라이나 전쟁 발발 이후 최대 5만명이 키프로스로 이주했으며 이 중 대다수가 러시아의 IT 기술자들”이라고 밝혔다.핀란드와 에스토니아·라트비아 등 발트해 연안 국가들은 최근 관광 비자를 통한 러시아인의 입국을 금지시켰다. 러시아인이 유럽으로 넘어가는 관문을 봉쇄한 것이다. 러시아 이민자가 급증하자 조지아도 비자 제도 변경을 검토 중이라고 밝혔고, 튀르키예도 러시아인의 이민 요건을 강화하고 있다. 반면 비교적 쉬운 이민 절차, 낮은 세금 등으로 전쟁 이전부터 러시아 부유층이 즐겨 찾던 키프로스가 러시아인의 마지막 남은 안식처가 되고 있다고 WP는 전했다.부유한 러시아인들이 이주하면서 키프로스의 부동산 시장은 호황을 누리고 있다. 자녀를 입학시키려는 러시아 학부모가 몰리면서 국제 학교도 자리가 부족할 정도다. 지난 4월 러시아에서 키프로스로 이주한 게임 업계 종사자 예브게니야 코르네바는 “주택 가격은 두 배로 올랐고, 관광 도시 리마솔에서는 월세 2000유로(약 283만원) 이하로는 아파트를 구하기 어렵다”고 했다.키프로스에는 러시아인뿐 아니라 우크라이나 난민들도 정착하고 있다. 키프로스 내무부에 따르면 전쟁 발발 이후 최소 1만6000명의 우크라이나 난민이 키프로스로 이주했다. 수도 니코시아에서는 서방의 대러 제재에 항의하는 친러 시위와 우크라이나인들이 조직한 반전 시위가 함께 열리기도 했다. 현지 언론은 두 나라의 이주민들로 인해 키프로스 내에 묘한 긴장이 감돌고 있다고 보도했다. 학교에서는 양국 학생들 사이에 싸움이 벌어지고 있다고 한다.러軍 동원령 받고… 철조망 사이로 작별 - 23일(현지 시각) 러시아 수도 모스크바에서 동쪽으로 800㎞ 떨어진 도시 카잔에서 군 동원령을 받고 참전하게 된 한 남성이 파병 전 환송 행사에서 철조망을 사이에 두고 애인과 입을 맞추고 있다. 지난달 21일 블라디미르 푸틴 러시아 대통령이 예비군 30만명 동원령을 선포한 이후 수십만 명의 러시아 남성이 키프로스 등 외국으로 피신한 것으로 알려졌다. /타스 연합뉴스외국인 투자·관광 수입 등을 러시아에 의존해온 키프로스는 유럽연합(EU)의 대러 제재에는 찬성하지만, 러시아인의 입국을 막지 않겠다는 입장이다. 니코스 아나스타시아디스 키프로스 대통령은 과거 튀르키예의 침략을 받았던 자국의 역사를 언급하며 우크라이나에 대한 연대를 표하면서도 “러시아 시민에 대해선 악감정이 없다”고 밝혔다.
/네이트 무크 트위터우크라이나에서 전쟁으로 주인과 헤어지게 된 반려동물들을 위해 자원봉사자들이 거리에 배식소를 설치한 가운데, 개들이 나란히 줄을 서서 기다리는 장면이 포착됐다.23일(현지 시각) 데일리메일 등에 따르면 전쟁 중인 우크라이나에서 동물들을 위해 봉사하고 있는 네이트 무크는 최근 도네츠크의 크라마토르스크에서 떠돌이 개들을 위한 임시 배식소를 설치했다./데일리메일무크에 따르면 무크와 자원봉사자들은 지난 20일 한 교통 표지판에 배관을 테이프로 고정해서 떠돌이 개들을 위한 임시 배식소를 마련했다. 다음날 아침 무크는 이곳 앞에서 떠돌이 개들이 차례로 줄을 선 채 사료를 기다리고 있는 것을 봤다. 개들은 서로 밀치거나 싸우지도 않고 얌전히 서서 자신의 순서가 오길 기다리고 있었다.무크는 “지금까지 이런 모습을 본 적이 없다”며 놀라워했다. 이어 “많은 사람들의 지원으로 이 배식소를 설치할 수 있었다”고 말했다.우크라이나에서 주인을 잃은 반려동물들을 위해 배식소를 설치하고 있는 네이트 무크./네이트 무크 트위터러시아의 우크라이나 침공 이후 우크라이나의 반려동물들은 주인과 함께 피난길에 올랐다가 헤어지기도 하고, 갑작스러운 공격으로 주인을 잃는 등 떠돌이 생활을 하게 됐다. 주인을 잃은 반려동물들의 규모가 정확히 어느 정도인지는 전해지지 않았지만 우크라이나의 한 매체는 개전 이후부터 지난 7월까지 약 50만 마리의 개들이 홀로 지내게 됐다고 전했다.무크는 이 같은 상황 속에서 개뿐만 아니라 고양이와 너구리 등 동물들을 돕고 있다. 그는 도네츠크와 루한스크, 하르키우 등 우크라이나 곳곳을 돌아다니며 동물들의 배식소를 설치하고, 기부 받은 사료를 동물보호소에 나눠주며, 다친 동물들을 보호소로 옮기는 등 활동을 했다. 무크는 “우리는 최전선에서 동물들을 대피시키기도 한다”며 “수의사와 함께 자원봉사자들은 목숨을 걸고 동물들을 구하고 있다”고 말했다.
 RT 진행자 안톤 크라소프스키의 문제 발언이 담긴 영상을 드미트로 쿨레바 우크라이나 외무장관이 공유했다./드미트로 쿨레바 우크라이나 외무장관 트위터러시아 국영방송의 진행자가 1980년대 우크라이나 어린이들이 자국을 비난했다는 말을 듣고 “아이들을 강물에 빠트려 죽였어야 했다”, “그들을 오두막에 넣어 불태울 수 있다” 등의 발언을 했다.23일(현지시간) 로이터통신 등에 따르면 RT 진행자 안톤 크라소프스키는 지난주 자신이 진행한 방송 프로그램에서 게스트로 출연한 공상과학(SF) 작가 세르게이 루키야넨코와 대화를 했다.방송에서 루키야넨코는 1980년대 우크라이나 서부를 방문했을 때 병원에서 만난 어린이들이 ‘러시아가 우크라이나를 점령하지 않았다면 우크라이나가 더 잘 살았을 것’이라고 말했다고 소개했다.그러자 크라소프스키는 “그 아이들은 티시나 강에 빠트려 죽였어야 했다”며 “그냥 그 아이들을 익사시켜라”라고 말했다. 이어 “(아이들을) 오두막에 밀어넣고 불태울 수도 있다”고 했다.크라소프스키는 호전적인 언행으로 유명한 극우 성향의 언론인이다. 그는 유럽연합(EU) 제재 명단에도 올라 있다.로이터통신은 소셜 미디어에서 이 영상과 함께 크라소프스키가 우크라이나를 침공한 러시아군이 성폭행 범죄를 저지르고 있다는 뉴스를 보면서 웃는 모습이 담긴 영상도 확산하고 있다고 보도했다.드미트로 쿨레바 우크라이나 외무장관은 트위터에 문제의 방송 영상을 공유하면서 “아직도 RT를 금지하지 않은 나라는 이 방송을 봐야 한다. 당신의 나라에서 RT 방송을 허가한다는 것은 이 방송 내용을 지지한다는 뜻”이라고 말했다. 이어 “공격적인 대량학살 선동은 표현의 자유와 무관하다”며 RT 방송 금지를 촉구했다.논란이 확산하자 이날 RT는 크라소프스키의 발언에 문제가 있다면서 그와의 계약을 중단한다고 밝혔다. 마르가리타 시모냔 RT 보도국장은 텔레그램을 통해 “크라소프스키의 발언은 거칠고 역겹다”며 “나를 비롯한 RT 팀은 우리 중 누군가가 그런 터무니없는 말을 공유할 수 있다는 생각조차 할 수 없다”고 했다.
23일(현지 시각) 러시아 시베리아 동부 이르쿠츠크의 주택가에 수호이(SU)-30 전투기 한 대가 추락한 현장./AP 연합뉴스러시아 공군 전투기인 수호이(SU)-30이 23일(현지 시각) 자국 영토 주택가에 추락해 조종사 2명이 사망했다. 지난 17일 SU-34 전폭기가 추락한 데 이어 일주일 새 두 번째 전투기 추락이다. AP통신은 “러시아의 우크라이나 침공 이후 11번째 발생한 비전투 사고”라고 보도했다.AP통신에 따르면 해당 전투기는 이날 시베리아 동부 이르쿠츠크에서 두 가구가 사는 2층짜리 주택으로 추락했다. 이고르 코브제프 이르쿠츠크 주지사는 “이 사고로 전투기 조종사 2명이 숨졌지만, 지상에서 인명 피해는 발생하지 않았다”고 밝혔다.추락 원인은 아직 알려지지 않았으나, 러시아 소셜미디어에 올라온 영상을 보면 사고기가 거의 수직으로 낙하했다고 AP통신은 전했다. 추락 사고가 발생한 이르쿠츠크 지역은 인구 60만 명의 이르쿠츠크주의 최대 도시로, SU-30 전투기를 생산하는 러시아 국영 항공기 제조사 유나이티드 에어크래프트 코퍼레이션의 공장이 위치해있는 곳이다. 이 회사는 성명을 통해 사고기가 공군에 인도되기 전 훈련 비행 중 추락했다고 설명했다. 또한 사고기에 무기는 실려 있지 않았다고 덧붙였다.이번 추락 사고는 지난주 러시아 SU-34 전폭기가 추락한 지 7일만에 발생했다. 지난 17일 러시아 SU-34 전폭기 한 대가 비행훈련을 위해 이륙한 직후 엔진 한쪽에 불이 나면서 우크라이나와 인접한 러시아 남부 도시 예이스크의 아파트에 충돌, 15명이 숨지는 사건이 발생했다. 해당 전투기는 러시아 공군의 최신예 주력 전투기다.
지난 달 블라디미르 푸틴 러시아 대통령이 모스크바에서 대국민 연설을 하고 있다./AP 연합뉴스우크라이나 전쟁에서 고전 중인 러시아가 23일(현지 시각) 미국, 영국, 프랑스, 튀르키예(터키) 국방장관과 연이어 통화에 나섰다.23일(현지 시각) 로이터 통신에 따르면 세르게이 쇼이구 러시아 국방 장관과 로이드 오스틴 미 국방장관은 이날 전화 통화로 우크라이나 문제에 대해 논의 했다. 앞서 두 장관이 지난 21일 5개월 만에 통화를 한 데 이어 사흘 만에 또 다시 통화에 나선 것이다. 미 국방부는 러시아가 후속 통화를 요청해 이뤄진 것이라고 설명했다.두 장관간 구체적인 통화 내용은 공개되지 않았다. 미 국방부는 통화 후 보도자료를 내고 “긴장을 고조시키는 러시아의 어떤 명분도 거절한다고 전달했다”며 “소통의 가치를 재차 강조했다”고 했다.이날 쇼이구 러 국방장관은 나토(NATO·북대서양조약기구) 회원국인 영국의 벤 윌리스, 프랑스의 세바스티앙 르코르뉘, 튀르키예의 훌루시 아카르 국방장관과도 연이어 통화했다.로이터 통신에 따르면 쇼이구 국방장관은 세 장관과 통화에서 “우크라이나 상황이 급속히 악화되고 있다. 우크라이나가 분쟁지에 ‘더티밤(dirty bombs)’을 쓸까 봐 우려된다”고 주장했다. 더티밤은 재래식 폭탄에 방사성 물질을 채운 일종의 방사능 무기다. 국제 사회가 러시아의 핵무기 사용 위협에 대해 우려를 표하고 있는 상황에서, 러시아는 오히려 우크라이나가 도발할 수 있다고 언급한 것이다. 다만 구체적인 증거는 제시하지 않았다.앞서 이전에도 러시아는 우크라이나가 생화학 무기 등 금지된 수단을 사용할 수 있다고 주장했다. 서방 국가 등은 이를 두고 러시아가 조작된 증거로 침략 명분을 세우는 ‘거짓 깃발(false flag)’ 작전을 준비 중일 수 있다고 우려 했다.

In [228]:
w2 = make_word_count_df2(ttt,['사회', '연예', '국제', '정치', '경제', '문화', '스포츠'])

사회
연예
국제
정치
경제
문화
스포츠

In [229]:
w2

      word count section
0       송영     4      사회
1        무    14      사회
2       한국   122      사회
3       유총     9      사회
4       연맹    31      사회
...    ...   ...     ...
52047  타쿠야     1     스포츠
52048  추첸첸     1     스포츠
52049   격상     1     스포츠
52050   선도     1     스포츠
52051   미주     1     스포츠

[52052 rows x 3 columns]

In [231]:
w2.sort_values(by="count", ascending=False)

       word count section
22451     것  1229      정치
22353    의원   943      정치
22407     고   928      정치
14431     것   893      국제
103       것   892      사회
...     ...   ...     ...
35963    휴대     1      경제
35962    송화     1      경제
35961     특     1      경제
35960  국제우편     1      경제
52051    미주     1     스포츠

[52052 rows x 3 columns]

In [234]:
w2['word_length']=[len(i) for i in w2['word']]

In [237]:
w2 = w2[w2['word_length']>1]

In [238]:
w2.drop(['word_length'],axis=1,inplace=True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_14012\1103842021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  w2.drop(['word_length'],axis=1,inplace=True)

In [241]:
w2.sort_values(by="count", ascending=False)

        word count section
22353     의원   943      정치
14871    러시아   776      국제
22352    민주당   665      정치
23209     대표   664      정치
14879  우크라이나   652      국제
...      ...   ...     ...
14234   대중문화     1      연예
14235    평론가     1      연예
37516  콜레스테롤     1      문화
14236     고유     1      연예
52051     미주     1     스포츠

[48637 rows x 3 columns]

In [244]:
filesave(w2,"chosun_content_word_count.csv")