분야별 토픽 top 10
1. 섹션별 필터링 = 경제, 사회 
2.value_count() title or content 둘 다?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
from wordcloud import WordCloud
from konlpy.tag import Okt

In [90]:
c= pd.read_csv("/Users/KBS/Documents/CNU_Everytime_SentimentAnalysis/chosun/chosun_word.csv",sep="\t",encoding="utf-8")
d= pd.read_csv("/Users/KBS/Documents/CNU_Everytime_SentimentAnalysis/donga/donga_word.csv",sep="\t",encoding="utf-8")
j= pd.read_csv("/Users/KBS/Documents/CNU_Everytime_SentimentAnalysis/joogang/joogang_word.csv",sep="\t",encoding="utf-8")

# 정치분야 토픽 Top10

In [91]:
c_pol = c[c['section'].str.contains('정치')] ####
d_pol = d[d['section'].str.contains('Politics')] ####
j_pol = c[c['section'].str.contains('정치')] ####

In [27]:
tokenizer = Okt()
stop_words = ['포토', '종합', '사진', '공개', '공식', '요즘', '갑자기', '논란', '행사','이유', '조선일보','사람','모습','위','첫','전','오늘','승','팀','최','골','시즌','리그','연속','감독','세계','것','강','명','최고','차','점','찬','더','등','호','황']

In [ ]:
c["tokenized"] = c["title"].apply(str).apply(tokenizer.nouns)
c['tokenized'] = c['tokenized'].apply(lambda x: [item for item in x if item not in stop_words and len(item) > 1])

In [92]:
c_pol

        word  count section
140427   윤석열   3293      정치
140428   대통령  10851      정치
140429    서울   1582      정치
140430   여의도    522      정치
140431    국회   2465      정치
...      ...    ...     ...
158784  포장마차      1      정치
158785    성률      1      정치
158786   돌연사      2      정치
158787  코로나비      1      정치
158788    방영      1      정치

[18362 rows x 3 columns]

In [101]:
stopword = ['술자리','방송', '부적절', '지적', '새벽', '특정' ,'술집','라며','대해']
s=""
for i in stopword:
    s+=i
    s+="|"
datafilter = c_pol["word"].str.contains(s[:-1])
c_pol = c_pol[~datafilter]

In [102]:
c_pol.sort_values(by = "count", ascending = False).head(n=10)

       word  count section
140428  대통령  10851      정치
140442   의원   8132      정치
140594   국민   6072      정치
140441  민주당   5892      정치
141189   대표   5382      정치
140432   정부   3335      정치
140427  윤석열   3293      정치
140614  위원장   2552      정치
140431   국회   2465      정치
140511   장관   2439      정치

In [95]:
c_pol = c[c['section'].str.contains('정치')] ####
#c_pol[c_pol['section']=='title']['tokenized'].values
#c_pol = np.hstack(c_pol[c_pol['section']=='정치']['tokenized'].values) ####
#c_pol = Counter(c_pol)#
c_pol = c_pol.most_common(10)#
c_pol

AttributeError: 'DataFrame' object has no attribute 'most_common'

In [30]:
j['section'] = j['section'].fillna('no')

In [ ]:
j["tokenized"] = j["title"].apply(str).apply(tokenizer.nouns)
j['tokenized'] = j['tokenized'].apply(lambda x: [item for item in x if item not in stop_words and len(item) > 1])

In [33]:
j_pol = j[j['section'].str.contains('정치')] ####
j_pol[j_pol['section']=='title']['tokenized'].values
j_pol = np.hstack(j_pol[j_pol['section']=='정치']['tokenized'].values) ####
j_pol = Counter(j_pol)#
j_pol = j_pol.most_common(10)#

In [40]:
d["tokenized"] = d["title"].apply(str).apply(tokenizer.nouns)
d['tokenized'] = d['tokenized'].apply(lambda x: [item for item in x if item not in stop_words and len(item) > 1])

In [41]:
d_pol = d[d['section'].str.contains('Politics')] ####
d_pol[d_pol['section']=='title']['tokenized'].values
d_pol = np.hstack(d_pol[d_pol['section']=='Politics']['tokenized'].values) ####
d_pol = Counter(d_pol)#
d_pol = d_pol.most_common(10)#

In [ ]:
# 키워드 추출

In [36]:
c_poli = []
for i in c_pol:
    c_poli.append(i[0])
print(c_politics)

['이재명', '술자리', '한동훈', '남국', '방송', '부적절', '지적', '새벽', '특정', '술집']

In [39]:
j_poli = []
for i in j_pol:
    j_poli.append(i[0])
print(j_poli)

['이재명', '이준석', '대통령', '윤석열', '국민', '정부', '민주당', '속보', '김건희', '대선']

In [42]:
d_poli = []
for i in d_pol:
    d_poli.append(i[0])
print(d_poli)

['이준석', '이재명', '대통령', '대통령실', '정부', '권성동', '국민', '민주', '민주당', '한미']

# 경제 토픽

In [49]:
c_eco = c[c['section'].str.contains('경제')] ####
d_eco = d[d['section'].str.contains('Economy')] ####
j_eco = c[c['section'].str.contains('경제')] ####

In [70]:
c_eco = c[c['section'].str.contains('경제')] ####
c_eco[c_eco['section']=='title']['tokenized'].values
c_eco = np.hstack(c_eco[c_eco['section']=='경제']['tokenized'].values) ####
c_eco = Counter(c_eco)#
del(c_eco['까닭'])
c_eco = c_eco.most_common(10)#

In [74]:
d_eco = d[d['section'].str.contains('Economy')] ####
d_eco[d_eco['section']=='title']['tokenized'].values
d_eco = np.hstack(d_eco[d_eco['section']=='Economy']['tokenized'].values) ####
d_eco = Counter(d_eco)#
d_eco = d_eco.most_common(10)#

In [76]:
j_eco = j[j['section'].str.contains('경제')] ####
j_eco[j_eco['section']=='title']['tokenized'].values
j_eco = np.hstack(j_eco[j_eco['section']=='경제']['tokenized'].values) ####
j_eco = Counter(j_eco)#
j_eco = j_eco.most_common(10)#

In [77]:
c_economy = []
for i in c_eco:
    c_economy.append(i[0])
print(c_economy)

['기업', '비상', '대만', '대출', '금리', '정부', '금융', '물가', '한국', '은행']

In [75]:
d_economy = []
for i in d_eco:
    d_economy.append(i[0])
print(d_economy)

['삼성', '금리', '환율', '정부', '아파트', '경제', '서울', '기업', '최대', '인상']

In [78]:
j_economy = []
for i in j_eco:
    j_economy.append(i[0])
print(j_economy)

['삼성', '기업', '한국', '정부', '대출', '최대', '금리', '투자', '물가', '시장']

In [ ]:
 = pd.DataFrame({ '한글':ko, '영어':en })

In [80]:
cdj_eco = pd.DataFrame(data = list(zip(c_economy, j_economy, d_economy)), columns = ['조선일보', '중앙일보','동아일보'])

In [81]:
cdj_eco

  조선일보 중앙일보 동아일보
0   기업   삼성   삼성
1   비상   기업   금리
2   대만   한국   환율
3   대출   정부   정부
4   금리   대출  아파트
5   정부   최대   경제
6   금융   금리   서울
7   물가   투자   기업
8   한국   물가   최대
9   은행   시장   인상

In [82]:
cdj_pol = pd.DataFrame(data = list(zip(c_poli, j_poli, d_poli)), columns = ['조선일보', '중앙일보','동아일보'])

In [83]:
cdj_pol

  조선일보 중앙일보  동아일보
0  이재명  이재명   이준석
1  술자리  이준석   이재명
2  한동훈  대통령   대통령
3   남국  윤석열  대통령실
4   방송   국민    정부
5  부적절   정부   권성동
6   지적  민주당    국민
7   새벽   속보    민주
8   특정  김건희   민주당
9   술집   대선    한미