In [38]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [39]:
import openpyxl

In [ ]:
import matplotlib

In [18]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime
import re

import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

In [187]:
d= pd.read_csv("/Users/KBS/Documents/CNU_Everytime_SentimentAnalysis/donga/donga_senti.csv",sep="\t",encoding="utf-8")
j= pd.read_csv("/Users/KBS/Documents/CNU_Everytime_SentimentAnalysis/joogang/joongang_senti.csv",sep="\t",encoding="utf-8")

In [188]:
c= pd.read_csv("/Users/KBS/Documents/CNU_Everytime_SentimentAnalysis/chosun/chosun_senti.csv",sep="\t",encoding="utf-8")

In [189]:
c["section"].value_counts()

사회                              4090
정치                              3518
연예                              3230
국제                              3152
스포츠                             3133
                                ...
opinion/dongseonambuk              1
entertainments/music               1
culture-life/watching              1
culture-life/relion-academia       1
culture-life/art-gallery           1
Name: section, Length: 70, dtype: int64

In [179]:
c["date"] = pd.to_datetime(c["date"])

ParserError: Unknown string format: 202210250800수정202210250800

In [181]:
c= c[c['section'].str.contains('경제')] ####

In [186]:
c['section'] = j['section'].fillna('no')
c['title'] = j['section'].fillna('no')
c['date'] = j['section'].fillna('no')

/Users/KBS/opt/anaconda3/envs/ten/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/KBS/opt/anaconda3/envs/ten/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/KBS/opt/anaconda3/envs/ten/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [172]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3518 entries, 57 to 24711
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        3518 non-null   object
 1   content      3517 non-null   object
 2   date         3518 non-null   object
 3   section      3518 non-null   object
 4   url          3518 non-null   object
 5   title_senti  3518 non-null   float64
dtypes: float64(1), object(5)
memory usage: 192.4+ KB

In [184]:
c= c[c['title'].str.contains('카카오')] ####

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [182]:
# 컬럼의 특수문자제거 
c["date"] = c["date"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
# 길이기준으로 원하는 문자 제거
c["date"] = c["date"].str[:8]
# 문자 -> 날짜로 변환
c["date"] = pd.to_datetime(c["date"])
#https://hiio.tistory.com/30
c['date'] = pd.to_datetime(c["date"]).dt.normalize()
c_senti = c[["date",'title_senti']]
c_senti.style.hide_index()

AttributeError: Can only use .str accessor with string values!

In [166]:
c_senti['date'].value_counts()

2022-10-25    930
2022-05-11     39
2022-05-16     38
2022-07-05     37
2022-06-21     37
             ...
2022-07-13      2
2022-06-13      2
2022-08-20      2
2022-03-11      1
2022-04-28      1
Name: date, Length: 159, dtype: int64

In [167]:
c_d = c_senti.resample(rule='D', on='date').mean()

In [160]:
c_d["date"].value_counts()

KeyError: 'date'

In [113]:
c_senti['date'].isnull().sum()

3

In [114]:
c_d.isnull().sum()

title_senti    20
dtype: int64

In [108]:
c_d.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 571 entries, 2021-04-03 to 2022-10-25
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title_senti  551 non-null    float64
dtypes: float64(1)
memory usage: 8.9 KB

In [86]:
c_d.to_excel('chosun.xlsx')

In [87]:
d_d.to_excel('donga.xlsx')

In [88]:
j_d.to_excel('joongang.xlsx')

In [92]:
c_d.isnull().sum()

title_senti    20
dtype: int64

In [ ]:
c_month = c_senti.groupby(c_senti['date'].dt.strftime("%Y-%m")).mean()
c_week = c_senti.resample(rule='1W', on='date').mean()
c_mon = c_senti.resample(rule='M', on='date').mean()

In [116]:
d["date"] = d["date"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
d['date'] = d['date'].str[:8]
d['date'] = pd.to_datetime(d['date'])
d['date'] = pd.to_datetime(d['date']).dt.normalize()
d_senti = d[['date','title_senti']]

In [125]:
j_senti.tail()

             date  title_senti
110477 2022-10-19     0.678107
110478 2022-10-19     0.080169
110479 2022-10-19     0.297850
110480 2022-10-19     0.604422
110481 2022-10-19     0.219155

In [126]:
d_senti.head()

        date  title_senti
0 2022-10-25     0.148715
1 2022-10-25     0.678253
2 2022-10-25     0.087201
3 2022-10-25     0.916447
4 2022-10-25     0.677403

In [127]:
c_senti.head()

        date  title_senti
0 2022-10-25     0.934428
1 2022-10-25     0.269128
2 2022-10-25     0.004256
3 2022-10-25     0.952862
4 2022-10-25     0.012476

In [82]:
d_d = d_senti.resample(rule='1d', on='date').mean()

In [ ]:
d_senti.style.hide_index()
d_month = d_senti.groupby(d_senti['date'].dt.strftime("%Y-%m")).mean()
d_week = d_senti.resample(rule='1W', on='date').mean()
d_mon = d_senti.resample(rule='M', on='date').mean()

In [79]:
#d_senti.to_excel('donga.xlsx')

In [124]:
j["date"] = j["date"].str.replace(pat=r'[^\w]', repl=r'', regex=True)
j['date'] = j['date'].str[:8]
j['date'] = pd.to_datetime(j['date'])
j['date'] = pd.to_datetime(j['date']).dt.normalize()
j_senti = j[['date','title_senti']]

AttributeError: Can only use .str accessor with string values!

In [85]:
j_d = j_senti.resample(rule='1d', on='date').mean()

In [81]:
j_senti.to_excel('joongang.xlsx')

In [ ]:
j_senti.style.hide_index()
j_month = j_senti.groupby(j_senti['date'].dt.strftime("%Y-%m")).mean()
j_week = j_senti.resample(rule='1W', on='date').mean()
j_mon = j_senti.resample(rule='M', on='date').mean()

# 병합

In [65]:
merge_cd_week = pd.merge(c_week,d_week, how='outer',on='date')

In [66]:
merge_cdj_week = pd.merge(merge_cd_week, j_week, how='outer',on='date')

In [67]:
merge_cdj_week.to_excel('week.xlsx')

In [68]:
merge_cdj_week

            title_senti_x  title_senti_y  title_senti
date
2021-04-04       0.670455            NaN          NaN
2021-04-11       0.460361            NaN          NaN
2021-04-18       0.519139            NaN          NaN
2021-04-25       0.445907            NaN          NaN
2021-05-02       0.479808            NaN          NaN
...                   ...            ...          ...
2022-10-02       0.434531       0.399070     0.397187
2022-10-09       0.433075       0.383176     0.381384
2022-10-16       0.431540       0.383737     0.376305
2022-10-23       0.439462       0.376200     0.397400
2022-10-30       0.259482       0.372213     0.406098

[83 rows x 3 columns]

In [ ]:
#month

In [62]:
merge_cd_mon = pd.merge(c_month,d_month, how='outer',on='date')

In [63]:
merge_cdj_mon = pd.merge(merge_cd_mon, j_month, how='outer',on='date')

In [64]:
merge_cdj_mon.to_excel('month.xlsx')

In [40]:
j_week.to_excel('j_week.xlsx')

In [34]:
c_week

            title_senti
date
2021-04-04     0.670455
2021-04-11     0.460361
2021-04-18     0.519139
2021-04-25     0.445907
2021-05-02     0.479808
...                 ...
2022-10-02     0.434531
2022-10-09     0.433075
2022-10-16     0.431540
2022-10-23     0.439462
2022-10-30     0.259482

[83 rows x 1 columns]

In [35]:
d_week

            title_senti
date
2021-09-12     0.439542
2021-09-19     0.511215
2021-09-26     0.528007
2021-10-03     0.465034
2021-10-10     0.479270
2021-10-17     0.517089
2021-10-24     0.504353
2021-10-31     0.487631
2021-11-07     0.466148
2021-11-14     0.521039
2021-11-21     0.491633
2021-11-28     0.524609
2021-12-05     0.516814
2021-12-12     0.492131
2021-12-19     0.486159
2021-12-26     0.505658
2022-01-02     0.506152
2022-01-09     0.518770
2022-01-16     0.484222
2022-01-23     0.491010
2022-01-30     0.472729
2022-02-06     0.495942
2022-02-13     0.469698
2022-02-20     0.486175
2022-02-27     0.499442
2022-03-06     0.494836
2022-03-13     0.513778
2022-03-20     0.467714
2022-03-27     0.470195
2022-04-03     0.450061
2022-04-10     0.422269
2022-04-17     0.442870
2022-04-24     0.442597
2022-05-01     0.450595
2022-05-08     0.441490
2022-05-15     0.422516
2022-05-22     0.440476
2022-05-29     0.466133
2022-06-05     0.422391
2022-06-12     0.404669
2022-06-19     0.399104
2022-06-26     0.414247
2022-07-03     0.417354
2022-07-10     0.390545
2022-07-17     0.394727
2022-07-24     0.394803
2022-07-31     0.398787
2022-08-07     0.377003
2022-08-14     0.381566
2022-08-21     0.388174
2022-08-28     0.395723
2022-09-04     0.392796
2022-09-11     0.408135
2022-09-18     0.406503
2022-09-25     0.381605
2022-10-02     0.399070
2022-10-09     0.383176
2022-10-16     0.383737
2022-10-23     0.376200
2022-10-30     0.372213