In [21]:
import pandas as pd

In [31]:
c= pd.read_csv("/Users/KBS/Documents/CNU_Everytime_SentimentAnalysis/chosun/chosun_senti.csv",sep="\t",encoding="utf-8")
d= pd.read_csv("/Users/KBS/Documents/CNU_Everytime_SentimentAnalysis/donga/donga_senti.csv",sep="\t",encoding="utf-8")
j= pd.read_csv("/Users/KBS/Documents/CNU_Everytime_SentimentAnalysis/joogang/joongang_senti.csv",sep="\t",encoding="utf-8")

In [32]:
c.head()

,title,content,date,section,url,title_senti
0,"신한금융, 3분기 순익 1.6조… 역대 최대 실적",조용병 신한금융지주 회장이 고객 중심 경영을 강조하고 있다.신한금융이 올해 3분기(...,2022.10.25 13:52,경제,https://www.chosun.com/economy/economy_general...,0.934428
1,자금시장 경색에… 한은 ‘베이비스텝’ 전망 나와,‘레고랜드 사태’가 뇌관이 된 자금 시장 경색이 쉽게 풀릴 기미를 보이지 않으면서 ...,2022.10.25 04:16,경제,https://www.chosun.com/economy/economy_general...,0.269128
2,일본은행 두번째 복면개입? 엔·달러 환율 149엔대에서 갑자기 4엔 하락,지난 20일 스즈키 슌이치 일본 재무상이 취재진과 만나는 모습. /로이터 연합뉴스달...,2022.10.25 03:00,경제,https://www.chosun.com/economy/economy_general...,0.004256
3,매달 10만원씩 6년 부었는데 이자 12만원? 낮아도 너무 낮은 금리에 ‘저축보험’...,은행 수신금리가 나날이 오르자 오래 전 저축보험을 가입했다가 중도해지에 나서는 사람...,2022.10.25 03:00,경제,https://www.chosun.com/economy/economy_general...,0.952862
4,"작년 종부세 수정 요구 1481건, 1년새 80% 폭증… 절반이 받아들여졌다",지난해 납세자들이 종합부동산세(종부세)를 과도하게 냈다며 수정을 요구한 경정 청구가...,2022.10.25 03:00,경제,https://www.chosun.com/economy/economy_general...,0.012476

In [33]:
c = c.dropna(axis=0)

In [34]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24768 entries, 0 to 24829
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        24768 non-null  object
 1   content      24768 non-null  object
 2   date         24768 non-null  object
 3   section      24768 non-null  object
 4   url          24768 non-null  object
 5   title_senti  24768 non-null  float64
dtypes: float64(1), object(5)
memory usage: 1.3+ MB

# 조선일보 주식, 주가 들어간 기사 감성분석 평균내기

# 전체 평균 = 0.39

In [35]:
c['title_senti'].mean()

0.39367139279157687

In [28]:
c = c.query('title.str.contains("주가|주식")', engine='python')

In [37]:
words = ['호황', '최대','역대', '최고가','신고가', '상승', '실적', '순이익','순익','호조','수출','증가']
c[c['title'].map(lambda x: all(word in x for word in words))]

Empty DataFrame
Columns: [title, content, date, section, url, title_senti]
Index: []

In [38]:
c

,title,content,date,section,url,title_senti
0,"신한금융, 3분기 순익 1.6조… 역대 최대 실적",조용병 신한금융지주 회장이 고객 중심 경영을 강조하고 있다.신한금융이 올해 3분기(...,2022.10.25 13:52,경제,https://www.chosun.com/economy/economy_general...,0.934428
1,자금시장 경색에… 한은 ‘베이비스텝’ 전망 나와,‘레고랜드 사태’가 뇌관이 된 자금 시장 경색이 쉽게 풀릴 기미를 보이지 않으면서 ...,2022.10.25 04:16,경제,https://www.chosun.com/economy/economy_general...,0.269128
2,일본은행 두번째 복면개입? 엔·달러 환율 149엔대에서 갑자기 4엔 하락,지난 20일 스즈키 슌이치 일본 재무상이 취재진과 만나는 모습. /로이터 연합뉴스달...,2022.10.25 03:00,경제,https://www.chosun.com/economy/economy_general...,0.004256
3,매달 10만원씩 6년 부었는데 이자 12만원? 낮아도 너무 낮은 금리에 ‘저축보험’...,은행 수신금리가 나날이 오르자 오래 전 저축보험을 가입했다가 중도해지에 나서는 사람...,2022.10.25 03:00,경제,https://www.chosun.com/economy/economy_general...,0.952862
4,"작년 종부세 수정 요구 1481건, 1년새 80% 폭증… 절반이 받아들여졌다",지난해 납세자들이 종합부동산세(종부세)를 과도하게 냈다며 수정을 요구한 경정 청구가...,2022.10.25 03:00,경제,https://www.chosun.com/economy/economy_general...,0.012476
...,...,...,...,...,...,...
24825,"‘교보 손글씨 2020 박도연’ 교보문고, 서체 무료 배포",/교보문고교보문고는 이달 홈페이지를 통해 ‘교보 손글씨 2020 박도연’ 서체를 무...,2021.04.05 03:00,문화,https://www.chosun.com/culture-life/culture_ge...,0.441391
24826,통영서도 “범 내려온다”,/통영국제음악재단“범 내려 온다/ 범이 내려 온다.”지난 2일 ‘통영국제음악제’가 ...,2021.04.05 03:00,culture-life,https://www.chosun.com/culture-life/2021/04/05...,0.315204
24827,"뉴욕 한국계 모델 박진이씨 “증오범죄 침묵에 충격, 목소리냈다”",\n\n\n\n\n\n\n\n\n\n\n\n\n\n뉴욕에서 모델겸 사회운동가로 활동...,2021.04.04 07:37,문화,https://www.chosun.com/culture-life/culture_ge...,0.950366
24828,"두 대의 피아노, 네 명의 피아니스트...통영 봄바다를 홀린 재즈","/통영국제음악재단두 대의 피아노, 네 명의 피아니스트.‘자라섬재즈페스티벌’의 인기 ...",2021.04.03 18:02,culture-life,https://www.chosun.com/culture-life/2021/04/03...,0.904738
24829,웨이브에서 ‘겨울왕국' ‘어벤져스' 못본다... 디즈니플러스 한국 진출 본격화,영화 '겨울왕국' 포스터4월 말부터 온라인 동영상 서비스(OTT) 웨이브에서 디즈니...,2021.04.03 17:44,문화,https://www.chosun.com/culture-life/culture_ge...,0.156261